* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

:root {
    --bg-color-FFF: #FFF;
    --color-text-43d: #22343D;
    --color-text-55: #3e4d55;
    --color-text-66d: #58666d;
    --color-text-543d:#22343D;
    --color-text-443d: #22343D
    --bg-color-socials: #FFF;
    --bg-color-logo: #173a56;
    --color-text-97a: #02897A;
}

.body-dark{
    background-color: #3f3b3b;
    --color-text-43d: #ffffff;
    --color-text-443d: #3f3b3b;
    --color-text-543d: #22343D;
    --color-text-55: #ffffff;
    --color-text-66d: #ffffff;
    --bg-color-FFF: #FFF;
    --bg-text-666d: #3f3b3b;
    --bg-text-343d: #3f3b3b;
    --bg-color-socials: #edfffc;
    --bg-color-logo: #FFF;
    --color-text-97a: #02897A;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    overflow-x: hidden;
    background-color: var(--bg-color-FFF);
}



/* HEADER */

.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.nav__lists--logo {
    display: flex;
    gap: 16px;
    align-items: center;
}

.nav__lists--menu {
    display: flex;
    gap: 32px;
    position: relative;
    left: 140px;
}

.nav__item:hover a {
    color: var(--color-text-43d);
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
}

.nav__item a {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--color-text-55);
}

.nav__lists--icons {
    display: flex;
    gap: 24px;
    align-items: center;
}

.nav__item--signin button {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
    padding: 10px 22px;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}

.nav__item--signin:hover button {
    background-color: #02897A;
    color: #fff;
    cursor: pointer;
}

.nav__item--logo a {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: var(--bg-color-logo);

}

.nav__item--icon {
    transition: 1s; 
}

.nav__item--icon:hover {
       transform: rotate(360deg);
}

.nav__item--singup button {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
    padding: 10px 22px;
    background: #02897A;
    border: 1px solid #02897A;
    border-radius: 4px;
    color: #FFFFFF;
}

.nav__item--singup:hover button {
    background-color: var(--bg-color-FFF);
    color: var(--color-text-543d);
    cursor: pointer;
} 

.mode-btn {
    width: 24px;
    height: 24px;
    background-image: url(./image/Frame.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}


/* entry__header */

.entry__header {
    margin-top: 25px;
}

.entry__box {
    display: grid;
    grid-template-columns: 600px 600px;
}

.entry__box__text {
    margin-top: 120px;
}

.entry__subtitle {
    width: 400px;
    height: 120px;
}

.entry__subtitle h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: var(--color-text-43d);
}

.entry__title {
    width: 458px;
    height: 95px;
    margin-top: 18px;
}

.entry__title p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--color-text-66d);
}

.entry__btn {
    margin-top: 45px;
    display: flex;
    align-items: center;
}

.entry__btn span {
    position: relative;
    top: -3px;
}

.entry__btn button {
    padding: 15px 41px;
    background: #02897A;
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 30px;
}

.entry__btn a {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #02897A
}

.entry__btn button:hover {
    border: 1px solid #02897A;
    color: #22343D;
    background-color: #ffffff;
} 

/* MAIN */

.main__product__card {
    width: 100%;
    margin-top: 115px;
}


.main__product__subtitle {
    text-align: center;
}

.main__product__subtitle h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: var(--color-text-43d);
}

.main__product__items {
    margin-top: 58px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.product__lists__img {
    margin-bottom: 30px;
}

.product__lists__subtitle h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: var(--color-text-43d);
}

.product__lists__text {
    margin-top: 13px;
    width: 240px;
}

.product__lists__text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-text-66d);
}

.main__product__card__btn {
    margin-top: 34px;
    text-align: center;
}

.main__product__card__btn button {
    padding: 15px 32px 14px 34px;
    background: #02897A;
    border-radius: 4px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.main__product__card__btn button:hover {
    border: 1px solid #02897A;
    color: #22343D;
    background-color: #ffffff;
} 

/* main__section */

.main__section {
    margin-top: 243px;
}

.main__wrapper__lists {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 146px;
}

.wrapper__list {
    margin-top: 18px
}

.item__text p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-43d);
}

.item__headline {
    margin-top: 8px;
}

.item__headline h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: var(--color-text-43d);
}

.item__title-center {
    margin-top: 131px;
}

.item__title-center h4, 
.item__title-end h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-text-43d);
    margin-top: 25px;
}

.item__title-center p, 
.item__title-end p {
    width: 486px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-text-66d);
    margin-top: 12px;
}

.item__support__title-center {
    margin-top: 23px;
}

.item__headline p {
    width: 486px;
    height: 78px;
    margin-top: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-text-66d);
}

.wrapper__list__item--row {
    margin-top: 30px;
    display: grid;
    row-gap: 30px;
}

.item--row-span {
    display: grid;
    grid-template-columns: 75px 385px;
}

.item--row-span p {
    color: var(--color-text-43d);
}

.collaborative__item__title-center, 
.collaborative__item__title-end {
    margin-top: 30px;
}

.collaborative__item__title-center h4, 
.collaborative__item__title-end h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-text-43d);
}

.collaborative__item__title-center p, 
.collaborative__item__title-end p {
    margin-top: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-text-66d);
    width: 486px;
}

/* main__widget */

.main__widget__box {
    width: 963px;
    margin: 0 auto;
}

.widget__subject {
    text-align: center;
}

.widget__subject h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: var(--color-text-43d);

}

.widget__subject p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-text-66d);
    margin-top: 16px;
}

.widget__avator__page {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}


.avatar__text {
    position: relative;
    top: -35px;
    height: 43px;
    border-radius: 30px;
}

.main__widget__btn {
    text-align: center;
}

.main__widget__btn button {
    padding: 15px 31px 14px 30px;
    background: #02897A;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 48px;
    border: none;
}

.main__widget__btn button:hover {
    background-color: #ffffff;
    border: 1px solid #02897A;
    color: #22343D;
}

.avatar:hover {
    border-radius: 30px solid #ffffff;
    cursor: pointer;
}

/* main__content */

.main__content {
    margin-top: 150px;
}

.content__title {
    margin-bottom: 32px;
}

.content__title h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: var(--color-text-43d);
}

.content__title p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-text-66d);
    margin-top: 8px;
}

.content__cards {
    display: flex;
    justify-content: space-between;
}

.content__card img {
    border-radius: 8px 8px 0 0;

}

.content__card {
    width: 348px;
    height: 359px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 8px;
    background-color: var(--bg-color-FFF);
}

.card__title {
    padding: 24px 30px 40px 24px;
}

.card__title span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--color-text-543d);
}

.card__title p {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: var(--color-text-443d);
    margin-top: 12px;
}

.card__title:hover p {
    color: var(--color-text-97a);
}

.content__card:hover {
    box-shadow: 1px 1px 10px silver;
}

.content__card__endimg {
    margin-top: 64px;
    text-align: center;
}

/* main__price__cards */

.main__price__cards {
    margin-top: 150px;
}

.price__card__subject {
    text-align: center;
    margin-bottom: 40px;
}

.price__card__subject h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: var(--color-text-43d);
    margin-bottom: 8px;
}

.price__card__subject p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-66d)
}

.price__card__table {
    display: grid;
    grid-template-columns: 366px 366px 366px;
    gap: 50px;
}

.table__item {
    height: 456px;
    text-align: center;
    border: 1px solid grey;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: var(--bg-color-FFF);
}

.table__item__box {
    margin-top: 20px;
}

.table__item__box h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: var(--color-text-343d);
    margin-bottom: 10px ;
}

.item__box-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: var(--color-text-666d);
    margin-bottom: 30px;
}

.table__item__box strong {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 100px;
    color: #02897A;
    letter-spacing: 0.2px;
}

.table__item__box sup {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #02897A;
} 

.table__item__box span {
    position: relative;
    right: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #AFAFAF;
} 

.table__item__box__text p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #58666d;
    margin-bottom: 16px;
}

.table__item__box__btn {
    margin-top: 22px;
    padding: 11px 19px 11px 18px;
    background: #02897A;
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
}

.table__item:hover   {
    background-color: #02897A;
    color: #FFFFFF;
} 

.table__item__box:hover, 
.table__item__box:hover h3, 
.table__item__box:hover p,
.table__item__box:hover sup, 
.table__item__box:hover strong, 
.table__item__box:hover span {
    color: #ffffff;
}

.table__item__box:hover button {
    background-color: #FFFFFF;
    color: #02897A;
}

/* main__clients__page */

.main__clients__page {
    margin-top: 150px;
}

.client__subtitle {
    text-align: center;
    margin-bottom: 50px;
}

.client__subtitle h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: var(--color-text-43d);
    margin-bottom: 8px;
}

.client__subtitle p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--color-text-66d);
}

.clients__cards {
    display: grid;
    grid-template-columns: 357px 357px 357px;
    gap: 64px;
}

.client__card__box {
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    background: #FFFFFF;
    height: 236px;
}

.card__box__avatar {
    padding: 28px 26px 23px 26px;
}

.client__card__box__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-top: 16px;
}

.client__avatar {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-top: 16px;
}

.avatar__title {
    width: 130px;
}

.avatar__title span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #02897A;
}

.avatar__title p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #58666d;
}

.client__avatar:hover img {
    border: 3px solid blue;
    border-radius: 50px;
}

/*  main__company__page*/

.main__company__page {
    margin-top: 150px;
}

.company__box {
    width: 968px;
    margin: 0 auto;
    display: flex;
    background-color: #02897A;
    justify-content: space-evenly;
    border-radius: 32px;
}

.company__title {
    margin-top: 49px;
    width: 420px;
}

.company__title p {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.company__title button {
    padding: 9px 35px 7px 33px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #02897A;
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
}

.company__title button:hover {
    background-color: #fff;
    color: #22343D;

}

/* FOOTER */

.footer__container {
    display: flex;
    justify-content: space-between;
}
.footer {
    margin-top: 150px;
}

.footer__logo {
    width: 32px;
    height: 29px;
    background-image: url(./image/icon-footer.svg);
}

.footer__logo__text {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: var(--bg-color-logo);
    position: relative;
    left: 45px;
    top: 3px;
}

.footer__socials {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    border-radius: 50%;
    align-items: center;
}

.footer__lists__titls {
    display: flex;
    gap: 150px;
}

.footer__item {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.footer__item-active {
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-text-43d);
}

.footer__item li a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: var(--color-text-66d);
}

.footer__item__form input {
    width: 325px;
    height: 48px;
    margin-top: 34px;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}

.footer__item__form button {
    width: 131px;
    height: 39px;
    margin-top: 21px;
    background: #02897A;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer__item__form:hover button {
    background-color: #fff;
    color: #02897A;
    border: 1px solid #02897A;
}

.footer__text {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text-66d);
    margin-bottom: 46px;
}

.nav__burger {
    background-image: url(./image/responsive/burger.svg);
    width: 28px;
    height: 31px;
    background-image: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: none;  
}

@media only screen and (max-width: 576px) {

    .container {
        width: 95%;
    }
        
    .nav__lists--menu ,
    .nav__lists--icons {
        display: none;
    }
    
    .nav {
        display: flex;
        flex-wrap: wrap;
        height: 70px;   
        justify-content: space-between;  
    }  
    
    .nav__burger {
        display: block;

    }

    /* entry__header */

    .entry__header {
        margin-top: 0px;
    }
    
    .entry__box {
        display: flex;
        flex-direction: column-reverse;
        padding: 30px 0 150px 0;
        width: 100%;
        margin: 0;  
    }
    
    .entry__box__text {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin: 0;
    }
    
    .entry__subtitle {
        width: 100%;
        height: 120px;
    }
    
    .entry__subtitle h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 60px;
        color: var(--color-text-43d);
    }
    
    .entry__img img  {
        width: 100%;
        order: 0;
    }
    
    .entry__btn button {
        padding: 14px 24px;
        background: #02897A;
        border-radius: 4px;
        border: none;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin-right: 30px;
    }

    .entry__title {
        width: 100%;
        height: 95px;
        margin-top: 10px;
    }
    
    .entry__title p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--color-text-66d);
    }
    
    .entry__btn {
        width: 100%;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    /* MAIN */

        .main__product__card {
            width: 100%;
            margin: 0;
        }

        .product__lists {
            padding-bottom: 37px;
        }

        .main__product__subtitle h2 {
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 48px;
            color: var(--color-text-43d);
        }

        .main__product__items {
            margin-top: 58px;
            display: block;
            text-align: center;
        }

        .product__lists__img {
            margin-bottom: 15px;
        }

        .product__lists__img img {
            width: 50px;
            height: 50px;
        }

        .product__lists__subtitle h3 {
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 33px;
            color: var(--color-text-43d);
        }

        .product__lists__text {
            margin-top: 13px;
            width: 100%;
        }

        .product__lists__text p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: var(--color-text-66d);
        }


        /* main__section */

        .main__section {
            margin-top: 95px;
            width: 100%;
        }

        .main__wrapper__lists {
            display: flex;
            flex-direction: column-reverse;

        }

        .wrapper__list {
            /* margin-top: 18px; */
            width: 100%;
        }

        .wrapper__list__item >div {
            width: 100%;
            margin: 0;  
        }

        .wrapp__item__img img {
            width: 100%;
        }

        .item__headline {
            padding-bottom: 15px;
        }

        .wrapper__list__item--row {
            margin-top: 30px;
            display: grid;
            row-gap: 30px;
        }

        /* .item__title-end p,
        .item__title-center p,
        .item__title-end p {
            width: 100%;
        } */

        .item__title-center {
            margin-top: 0px;
        }

        .wrapper__lists__img {
            order: 1;
        }
        
}



